.App {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 2rem;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

button {
  margin: 3px;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
}

h2 {
  text-align: center;
}

/* image items */
.image-item {
  margin: 1rem;
}

.image-item img {
  margin-bottom: .2rem;
}

.upload__image-wrapper {
  text-align: center;
  background-color: rgb(228, 175, 175);
  border-radius: 3px;
  padding: 3px;
}

/* responsive */
@media screen and (max-width: 710px) {
  .App {
    display: block;
  }  
}