.type1 {
    background-color: aquamarine;
}
  
.type2 {
    background-color: chartreuse;
}

.type3 {
    background-color: crimson;
}
  
.type1:hover {
    background-color: rgb(91, 247, 195);
}  
  
.type2:hover {
    background-color: rgb(122, 231, 13);
}

.type3:hover {
    background-color: rgb(207, 27, 63);
}